* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Ser till så att bilderna får korrekt storlek och deras rörelse animeras */
/* När ni sätter intervallen efter vilken pokemonen får sin nya position bör den intervallen överensstämma med tiden här. 3s. */
img {
    width: 300px;
    transition: all 3s linear;
    position: absolute;
}

.game-field {
    position: relative;
    width: 100%;
    height: 100%;
}

.error-msg {
    color: red;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    border-radius: 2rem;
    padding: 2rem;
}

body {
    background-image: url('/assets/arena-background.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
}

.highscore-list__text {
    color: yellow;
    font-size: 2rem;
}
.music-btn {
    cursor: pointer;
    color: rgb(236, 240, 6);
    background-color: transparent;
    border: none;
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.d-none {
    display: none;
}
